# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Siralim Party Builder.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Development\Unity\Siralim Party Builder\.idea\.idea.Siralim Party Builder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
